.sticky {
	display: block;
}



.post,
.page {
	margin-bottom:1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body{
	background: $color_white;
}
.content .page {
	background: $color_white;
}
h1, h2 {
	font-family: 'Londrina Solid', sans-serif;
	font-size: $font_50px;
	color: $color_white;
	background-color: $color_red;
	text-align: center;
	font-weight:400;
	line-height: 125%;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
}

.red {
    color: $color_red;
}

.black {
    color: $color_black;
}

*:focus {
    outline: none;
}
a, .entry-content a {
	text-decoration:none;
	color:#A02700;
}
a:visited, .entry-content a:visited{
	color:#A02700;
}
a:hover{
	text-decoration:none;
}
.grecaptcha-badge{
	display:none!important;
}
.button {
	text-align: center;
    font-family: 'Playfair Display';
    font-size: $font_24px;
    font-weight: 400;
    max-width: fit-content;
    padding: 0.5rem 1rem;
	transition:filter 400ms ease;
}

.swiper-button-next {
	background-image: url(./assets/carousel_arrow.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
  }
  
  .swiper-button-next::after {
	display: none;
  }

  .swiper-button-prev {
	background-image: url(./assets/carousel_arrow.svg);
	transform: scale(-1,1);
	filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
  }
  
  .swiper-button-prev::after {
	display: none;
  }


.site-main article:not(.no-max) {
    max-width: 1200px;
}


/*Header*/
.site-container{
	background:transparent;
	position:relative;
}

.bl_header{
	width:auto;
	height: 100px;
	//margin:1rem auto 1rem auto;
	& img{
		height: 100px;
	}
}


.bl_bg_image{
width:100%;
height:600px;
position:absolute;
top:0;
z-index:-1;
}

/*.bl_header:hover{
	filter: invert(13%) sepia(54%) saturate(7176%) hue-rotate(30deg) brightness(100%) contrast(103%);
}*/
/*navigation*/
.site-container .hamburger{
	display:none;
}
.nav-primary, #genesis-nav-primary.shrink {
	background-color: transparent;
	border-bottom:3px solid #372D2D;
	position:relative;
	max-width:1170px;
	margin:0px auto 10px;
}
.home .nav-primary{
	margin:0px auto 45px;
	border-bottom:3px solid #faf7e8;
}

.nav-primary::after, .bl_no_bg.home .nav-primary::after, #genesis-nav-primary.shrink::after
	{
	content:' ';
	position:absolute;
	bottom:5px;
	left:3%;
	width:94%;
	border-bottom:1px solid #372D2D;
	
}
.home .nav-primary::after{
	border-bottom:1px solid #faf7e8;
}
.menu-primary li.current_page_item a, .menu-primary li a, .menu-primary li a:hover{
	background:transparent;
}

.home .menu-primary li a,.home .menu-primary li a:visited, .home .menu-primary .menu-item input, .home .menu-primary .menu-item input::placeholder{
	color:#faf7e8;
}
.bl_no_bg.home .menu-primary li a,.bl_no_bg.home .menu-primary li a:visited, #genesis-nav-primary.shrink .menu-primary li a, #genesis-nav-primary.shrink .menu-primary .menu-item input,
#genesis-nav-primary.shrink .menu-primary .menu-item input::placeholder{
	color:#372D2D;
}
#genesis-nav-primary .menu-primary li a:hover, .home .menu-primary li a:hover, .bl_no_bg.home .menu-primary li a:hover{
	color:#A02700;
}
.menu-primary li a:visited, .bl_no_bg.home .menu-primary li a:visited{
	color:#372D2D;
}
/*Search in Nav*/
.nav-search-form {
	position: absolute;
	top: 65%;
}

@media only screen and (min-width:1200px){
	.nav-search-form {
		position: relative;
		top: 0;
	}
}

#search-form {
	font-family: 'Playfair Display';
	background-color: $color_bg_cream;
	border: 0;
	border-bottom: $color-text-black 2px solid;
	color: $color-text-black;
	font-weight: 400;
	border-radius:0;
}

.menu .menu-item .search-form input{
	background-color: transparent;
	border:none;
	padding:5px 0 5px 5px;
	margin:2px 0 2px 2px;
	
	
}
#genesis-nav-primary.shrink .menu .menu-item .search-form input[type=search]{
	color:#A02700;
}
.menu .menu-item input:focus{
		text-decoration: underline;

}
.menu-item input::placeholder{
	letter-spacing: -0.1em;
	text-decoration: none;
}
.menu-item .search-form input[type="submit"]{
	background: transparent;
	border:none;
    padding-left:2px;
    padding-right:5px;
    display: inline-flex;
    -webkit-font-smoothing: antialiased;
    font: normal 27px/1 'dashicons';
    vertical-align: middle;
}
#genesis-nav-primary .menu .menu-item input[type="submit"]:hover{
	color:#A02700;
	background-color: transparent;
}
.menu-main-menu-container {
	//padding: 1rem 0;
	position: relative;
}
/*Nav Animation*/
#genesis-nav-primary.shrink {
position: fixed;
left:0;
right:0;
padding-top:0;
top:0;
max-width:100%;
margin:auto;
z-index:10000;
background-color:#faf7e8;
}
#genesis-nav-primary{
transition: all 0s ease-in-out 0s;
}

/* Sticky Header Jump Fix */

#sticky-header-jump-fix {
height: 0px;
transition: all 0s ease-in-out;
}

#sticky-header-jump-fix.shrink {
height: 50px !important;
transition: all 0s ease-in-out 0s;
}
.home #sticky-header-jump-fix.shrink{
	height: 95px !important;
	transition: all 0s ease-in-out 0s;
}

/* Sticky Header Slide Animation Begin */

.animated-2 {
animation-delay: 0s !important;
-webkit-animation-delay: 0s !important;
-webkit-animation-duration: 1s !important;
animation-duration: 1s !important;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
animation-timing-function: ease-in-out;
}
@-webkit-keyframes slideInDown-2 {
from {
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes slideInDown-2 {
from {
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

.slideInDown-2 {
-webkit-animation-name: slideInDown-2;
animation-name: slideInDown-2;
}

/*hero region*/
#bl_hero{
	min-height:300px;
	background-color:#faf7e8;
	max-width:700px;
	margin: 0px auto 45px;
    display:flex;
    }
   
  .bl_hero_wrap{
	padding:20px;
	margin:20px;
  	background-color:#faf7e8;
  	width:620px;
  	display:flex;
  	flex-direction: column;
  	border:1px solid #372D2D;
  	outline:3px solid #372D2D;
  	outline-offset:3px;
  }
.bl_home_logo, .bl_hero_text_container{
	flex-basis:50%;
}

.bl_hero_text{
	font-size:1.6rem;
	text-align:justify;
	margin: 10px 15%;
}



/*Sections*/
.home .site-inner{
	padding-top:0px;
}
.site-inner {
    max-width: 1100px;
    padding: 0 auto;
}
section.bl_home_section{
	    margin-top: 8px;
		position:relative;
		padding-bottom:15px;
}
section.bl_home_section:nth-of-type(odd){
	border-bottom:1px solid #372D2D;
}
section.bl_home_section:nth-of-type(even){
	border-bottom:3px solid #372D2D;
}
section.bl_home_section::after{
	position:absolute;
	content:'';
	height:3px;
	width:100%;
	bottom:-8px;
	
}
section.bl_home_section:nth-of-type(odd)::after{
	border-bottom:3px solid #372D2D;
}
section.bl_home_section:nth-of-type(even)::after{
	border-bottom:1px solid #372D2D;
}
section.bl_home_section::before{
	display: block; 
  content: " "; 
  margin-top: -53px; 
  height: 53px; 
  visibility: hidden; 
  pointer-events: none;
}
section.bl_home_section:nth-of-type(1)::before{
	height:83px;
}
.bl_h1_smaller{
	font-size:2.4rem;
}
.content .entry-content .bl_home_section h1.bl_section_title, .archive-description h1.archive-title, body.search .archive-description h1.archive-title{
	font-size:5rem;
	line-height:6rem;
	text-align:center;
	position:relative;
	padding-bottom:25px;
	margin-bottom:2px;
}
.content .entry-content .bl_home_section h1.bl_section_title.bl_kids_title{
	font-family:'Coming Soon',cursive;
	margin-top: 15px;
}

.post-edit-link{
	display:none;
}

.home_section {
	/*border-bottom: 1px solid $color_text_black;*/
	position: relative;
}

/*Layouts*/
.hero_image_container {
    width: 100%;
}

.hero_carousel_thumbnail img {
    max-width: 100vw;
    width: 100vw;
    max-height: 32rem;
    object-fit: cover;
}


/*Carousel*/
.carousel_container{
	display: block;
	padding-top: 2rem;
	padding-bottom: 2rem;
	overflow: hidden;
			&.sea_blue{
				background-color: $color_sea_blue;
			}
			&.burnt_orange{
				background-color: $color_burnt_orange;
			}
			&.yellow{
				background-color: $color_yellow;
			}
			&.deep_green{
				background-color: $color_deep_green;
			}
			&.cream {
				background-color: $color_bg_cream;
			}
	}

.carousel_title {
	font-size: $font_34px;
	text-align: center;
}

.button_carousel {
	font-family: 'Playfair Display';
	font-size: $font_24px;
	font-weight: 400;
	margin: 1rem auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
		&.yellow {
			color: $color_yellow;
			background-color: $color_text_black;
		}
		&.sea_blue {
			color: $color_sea_blue;
			background-color: $color_deep_green;
		}
		&.burnt_orange {
			color: $color_burnt_orange;
			background-color: $color_bg_cream;
		}
		&.deep_green {
			color: $color_deep_green;
			background-color: $color_sea_blue;
		}
		&.cream {
			color: $color_bg_cream;
			background-color: $color_deep_green;
		}
}

.carousel_item a {
	color: $color_text_brown;
	font-family: 'Playfair Display';
	font-size: $font_18px;
	font-weight: 500;
	display: flex;
	justify-content: center;
}

.carousel_carousel {
	&.swiper {
		overflow: visible;
	}
	.swiper-button-next, .swiper-button-prev {
		top:112%;
		&:hover{
			filter: invert(1) hue-rotate(-20deg) brightness(0.4);
		}
	}
}

.carousel_thumbnail {
	display: flex;
	justify-content: center;
}

/*RTC Text Block*/

.text_block_container {
    border-bottom: $color_red 2px solid;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.text_block_container.margins h2 {
	margin-bottom: 1.5rem;
}

h2.text_block_title.title {
    margin-top: 0;
}

@media only screen and (min-width:700px){

	.text_block_container.two_column {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
	}

	.text_block_container.margins h2 {
		margin-top: 0;
		margin-bottom: 1.5rem;
		display: block;
	}

	.text_block_wysiwyg {
		padding-left: 1rem;
	}
}

/*RTC Donate Block*/

.donate_block_container {
    border-bottom: $color_red 2px solid;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

h3.donate_heading {
    font-size: $font_50px;
    text-align: center;
    text-transform: uppercase;
}

.donate_button.button {
    font-family: 'Londrina Solid';
    font-size: $font_42px;
    background: $color_red;
    text-transform: uppercase;
	margin: 0 auto;
}

.donate_button.button a{
    color: $color_white;
}

h3.donate_block_follow_heading {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.flex.flex-20.so-me {
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 700px){
	.donate_block_container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2.5rem;
	}
	
	.donate_block_follow {
		grid-column: 2/3;
		grid-row: 1/2;
	}
	
	.donate_button.button {
		grid-row: 3/4;
	}
	
	h3.donate_heading.title.black {
		grid-row: 1/3;
		margin-bottom: 0;
		margin-top: 0;

	}

	.flex.flex-20.so-me {
		align-items: center;
		justify-content: space-evenly;
	}
}

/*RTC - Social Media Feed Blocks*/
.social_media_feed {
    //border-bottom: $color_red 2px solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

//Twitter
.css-1dbjc4n.r-1sw30gj.r-109y4c4 {
    background-color: $color_red;
}

//Instagram
.sbi_item {
    border-bottom: 1px solid $color_red;
}

/*RTC Partners Block*/

.partners_block.margins {
    border-top: $color_red 2px solid;
}

.partners_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.partners_logos img{
    width: 130px;
    height: auto;
}

.partners_logos a{
    max-width: 150px;
}

@media only screen and (min-width: 700px){
	.partners_logos {
		justify-content: center;
		column-gap: 2rem;
	}
}

/*RTC Our Stories Page */

a.button {
    background: $color_red;
    font-family: 'Londrina Solid';
    text-transform: uppercase;
    font-size: $font_32px;
    text-align: center;
}

a.archive_button.podcast {
 color: $color_white;
}

a.archive_button.statement.button {
    color: $color_white;
}

//Recent Block- Statements
.recent_block.statement .recent_items {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-bottom: 2rem;
}

.download {
    position: relative;
}

.download::after {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 18rem;
    top: 0.4rem;
    background-image: url(./assets/download.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

//Youtube Block

.sby_item {
    position: relative;
}

.sby_item::after {
    content: '';
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 40%;
    top: 40%;
    background-image: url(./assets/play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99999999;
}



/*Home Podcasts and Events*/

.podcasts_container, .events_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.podcasts_title, .events_title {
	font-family: 'Playfair Display';
	font-size: $font_50px;
	a, a:visited{
		color: $color_text_black;
	}
}

.featured_podcast, .featured_event {
	& h3 {
		font-family: 'Playfair Display';
		font-style: italic;
		color: $color-text-black;
		font-weight: 200;
		font-size: $font_34px;
		padding: 0;
		margin: 0;
		margin-bottom: 1rem;
	}
}

.podcasts_description {
	& p {
		font-family: 'Inter';
		font-size: 1rem;
	}
}
h2.podcasts_title a, a:visited {
    color: black;
}
.bl_audio_player {
	& h4 {
		color: $color_text_brown;
		font-family: 'Playfair Display';
		font-size: $font_18px; 
		font-weight: 400;
	}

	& p {
		color: $color_text_brown;
		font-size: 1rem;
	}
}


.bl_follow_link {
	& p {
		color: $color_text_black;
		font-family: 'Inter';
		font-size: 1rem;
		font-weight: 100;
	}
}

.featured_event {
	& h4 {
		font-family: 'Playfair Display';
		font-size: 1.75rem;
		color: $color-text-black;
		font-weight: 400;
		padding: 0;
		margin: 0;
	}
	& h5 {
		font-family: 'Playfair Display';
		font-size: 1.5rem;
		color: $color-text-black;
		font-weight: 400;
		padding: 0;
		margin: 0;
		margin-bottom: 2rem;
	}
}


.events_description {
    font-size: 1rem;
}


.podcasts_episode_name, .generic_post_content {
	& h3{
		font-family: 'Playfair Display';
		font-style: italic;
		color: $color_text_black;
		font-weight: 200;
		font-size: 2.125rem;
		margin: 0;
    	padding: 0;
	}
}

.podcasts_description p{
	& p{
		font-family: 'Inter';
		font-size: 1rem;
		}
}


h2.podcasts_title, h2.events_title {
    padding: 0;
    margin: 0;
}

.events_thumbnail, .generic_post_thumbnail {
	& img {
		width: 300px;
		height: auto;
	}
}

.events_content {
	& h3{
		padding: 0;
		margin: 0;
	}
}

h2.generic_post_title {
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width:1000px){
	.podcasts_container, .featured_event, .featured_generic_post {
		text-align: left;
	}
}	




/*Home Image/Text Gallery*/

.image_text_wysiwyg {
    margin-top: 2rem;
    max-width: 680px;
}

.image_text_block_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image_gallery_1 {
	display: flex;
	flex-direction: row; 
	justify-content: center;
		.image_thumbnail {
			display: flex;
			flex-basis: 60%;
			object-fit: contain;
			width: auto;
			height: 100%;
		}
}

.image_gallery_2 {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
		.image_thumbnail { 
			display: flex; 
			flex-direction: row; 
			flex-basis: 42%;
			object-fit: contain;
			width: auto;
			height: 100%;
		}
}

.image_gallery_3 {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
		.image_thumbnail { 
			display: flex; 
			flex-direction: row; 
			flex-basis: 31%;
			object-fit: contain;
			width: auto;
			height: 100%;
		}
}

.image_gallery_4 {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	flex-wrap: wrap;
		.image_thumbnail { 
			display: flex; 
			flex-direction: row; 
			flex-basis: 48%; 
			margin-bottom: 0.5rem;
			justify-content: center;
			object-fit: contain;
			width: auto;
			height: 100%;
		 }
}

.image_text_title {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 2.125rem;
	text-align: center;
}

.image_text_wysiwyg {
    text-align: center;
}

@media only screen and (min-width:800px){
	.image_text_title {
		font-size: 3.125rem;
	}

	.image_gallery_1 {
		.image_thumbnail {
			flex-basis: 50%;
			& img{
				object-fit: contain;
			}
		}
	}

	.image_gallery_2 {
		.image_thumbnail {
			flex-basis: 45%;
			& img{
				max-height: 450px;
				width: auto;
				object-fit: contain;
			}
		}
	}

	.image_gallery_3 {
		justify-content: space-around;
		.image_thumbnail { 
			display: flex; 
			flex-direction: row; 
			flex-basis: 30%;
				& img{
					max-height: 450px;
					width: auto;
					object-fit: contain;
				}
			}
		}


	.image_gallery_4 {
		justify-content: space-between;
		flex-wrap: nowrap;
			.image_thumbnail{
				flex-basis: 24%;
				& img{
					object-fit: contain;
				}
			}
	}
	
}

/*widgets*/
.bl_widget_image_background{
	width:100%;
	height:300px;
}
.dynamik-widget-area{
	background-color: transparent;
}
.bl_image_text_widget_inner{
	display:flex;
	flex-direction:column;
	align-items: center;
	min-height:100px;
}
.bl_image_text_widget h1.bl_widget_title{
	font-size:5rem;
	line-height:9rem;
	margin-bottom:2px;
	text-align:center;
	max-width:50%;
}
.bl_image_text_widget h2.bl_widget_text{
	text-align:center;
	max-width:50%;
	font-size:4rem;
}
.bl_image_text_widget .bl_widget_long_text{
	text-align:center;
	max-width:50%;
	margin: 1px 10% 0 10%;
}
.bl_image_text_widget .bl_widget_long_text p{
	margin:0px;
}
a.bl_widget_button{
display:block;
width:100px;
color:#A02700;
background-color:#fff;
outline:1px solid #fff;
text-align: center;
margin: 15px auto 30px auto;
border-top: 1px solid #A02700;
padding-top:5px;
border-bottom: 1px solid #A02700;
padding-bottom:5px;
position:relative;
transition: all 500ms ease-in;
}
a.bl_widget_button:hover{
	border-top-color: #372D2D;
	border-bottom-color:#372D2D;
}
a.bl_widget_button::after{
	content:'';
	position:absolute;
	bottom:-6px;
	left:0;
	width:100px;
	height:3px;
	background-color:#A02700;
	transition: all 500ms ease-in;
}
a.bl_widget_button:hover:after{
	background-color:#372D2D;
}
.bl_widget_with_image.bl_image_text_widget h1.bl_widget_title, .bl_widget_with_image.bl_image_text_widget h2.bl_widget_text, .bl_widget_with_image.bl_image_text_widget .bl_widget_long_text p{
	color:#fff;
}
.bl_widget_with_image a.bl_widget_button{
	border:1px solid #A02700;
}
.bl_widget_with_image a.bl_widget_button:hover{
 border-color:#372D2D;	
}
.bl_widget_with_image a.bl_widget_button::after{
	width:102px;
	left:-1px;
}
.bl_image_text_widget .bl_flourish{
	margin-top:-10px;
}
.bl_image_text_widget.bl_widget_with_image .bl_flourish{
	filter: invert(100%);
}
.bl_image_text_widget_link {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
}

/* Shop*/
.shop_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.shop_title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.shop_container  {
	& .banner_book_cover{
		max-width: 300px;
		height: auto;
		background-color: transparent;
	}
} 

.shop_category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
	background-size:cover;
}


.shop_category_recent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.shop_category_recent img{
padding-bottom: 1rem;
}

h2.shop_category_title {
	margin-top: 0;
	margin-bottom: 2rem;
	text-align: center;
	font-size: $font_50px;
}

.single-product .product h1 {
    text-align: center;
    margin-bottom: 0;
}

.single-product .product h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 2.125rem;
}

.product .entry-summary .price {
    margin-top: 0;
    margin-bottom: 0;
    color: #77a464;
}

.summary.entry-summary {
    margin-top: 0;
}

.woocommerce-Price-amount {
    color: $color_text_brown;
    font-size: 1rem;
}

.woocommerce-tabs .description_tab a {
    color: #000000;
}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    text-align: left;
	& h2 {
		text-align: left;
	}
}

.woocommerce table.shop_table, .cart-collaterals {
	margin: 1rem auto 24px auto;
	border-radius: 5px;
	max-width: 800px;
}

.woocommerce a.remove {
    color: $color_burnt_orange!important;
}

.woocommerce a.remove:hover {
	color: $color_text_white!important;
    background: $color_burnt_orange!important;
}

.cart_totals h2 {
    margin-bottom: 1rem;
}

.related.products h2 {
    margin-bottom: 1rem;
}

section.related.products {
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.bl_book_container .bl_book_title {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.bl_book_container .bl_book_author {
    //margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    font-weight: 400;
}

.bl_book_price {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

a.shop_category:hover {
    filter: hue-rotate(-20deg);
}

a.shop_category {
    transition: filter 400ms ease;
}

a.shop_category.deep_green:hover {
    filter: hue-rotate(45deg);
}

a.shop_category.background_cream:hover {
    filter: hue-rotate(-30deg) brightness(0.9);
}

.centered_shop {
    height: 313.98px;
}

.centered_shop h2 {margin: 0 auto;}

.dark_text h2 {
    color: #372d2d;
}

.light_text h2 {
    color: #FAF7E8;
}

.no_carousel_button {
    height: 57.98px;
    margin-bottom: 1rem;
}

.bl_events_link h3 {
    text-align: left;
}

#tab-description h2 {
	margin-bottom:  1rem;
}

.woocommerce-product-details__short-description {
    margin-top: 1rem;
}

.pagination {
	flex-basis: 100%;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	.current, a {
		aspect-ratio: 1;
		width: 2rem;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
	.current {
		color: $color_text_black;
		border: 2px solid $color_text_black;
		outline: 1px solid $color_text_black;
		outline-offset: 2px;
	}
}

.shop-header {
	padding-top: 2rem;
	padding-bottom: 3rem;
	margin-bottom:3rem;
	h2{
		text-align:left;
	}
}

#filter{
	color:$color-text-black;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	align-items: flex-start;
	button {
		cursor: pointer;
	}

	h3{
		font-family: 'Inter', sans-serif;
		font-weight:400;
		margin-top:0;
		margin-bottom:.4rem;
	}
}

.filter_button {
	padding: 1rem 1.5rem;
	border-radius: 0;
	font-family: 'Playfair Display', serif;
	/* font-weight: 600; */
	background-color:$color_deep_green;
	border: 0;
	color: $color_bg_cream;
	font-size: 1.2rem;
	line-height: 1;
	height: fit-content;
	transition:background-color 400ms ease;
	&.filtering {
		&.active,&:hover{
			background-color:$color_burnt_orange;
			color: $color_bg_cream;
		}
	}
	&.sorting{
		&.active,&:hover{
			background-color:$color_yellow;
			color:$color_deep_green;
		}
	}
	&:focus{
		outline:1px dotted black;
	}
}

.deep_green .filter_button{
	background-color:$color_sea_blue;
	color:$color_deep_green;
}

.burnt_orange .filter_button.filtering:hover{
	background-color:$color_sea_blue;
	color:$color_deep_green;
}
.yellow .filter_button.sorting:hover{
	background-color:$color_sea_blue;
	color:$color_deep_green;
}

.filter {
	display: flex;
	column-gap: 1rem;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: column;
	flex-basis: 100%;
	row-gap: 0.5rem;
	margin-bottom: 1rem;
	@media screen and (min-width:700px) {
		flex-direction: row;
		flex-basis: auto;
		row-gap: 0.5rem;
		margin-bottom: 0;
	}
	h3 {
		flex-basis: 100%;
	}
	.reset {
		flex-basis: 100%;
		text-align: left;
		background-color: transparent;
		border: 0;
		padding-left: 0;
		color: currentColor;
		border-radius:0;
		&:hover{
			text-decoration: underline;
		}
	}
}

@media screen and (min-width:1200px) {
	.filter.filter--filters {
		max-width: 54%;
	}
}
.filter-header {
	z-index: 5;
	width: 100%;
	display: flex;
	background-color: $color_bg_cream;
	padding: 1rem;
	align-items: center;
	gap: 0.2rem;
	margin-bottom: 2rem;
	flex-wrap: wrap;
	transition: box-shadow 400ms ease;
	display:none;
	@media screen and (min-width:700px) {
		display:flex;
	}
	&.fixed{
		position:fixed;
		top:0;
		left:0;
		padding-left:var(--margin);
		box-shadow: 4px 0 8px rgba(0,0,0,0.3);
	}
}

div#loader {
	position: fixed;
	width: 50px;
	height: 50px;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	border: 4px solid $color_burnt_orange;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-radius: 50%;
	animation: spin 800ms ease-in 0s infinite;
	z-index:10;
	display:none;
	&::after{
		content: '';
		width: 42px;
		height: 42px;
		position: absolute;
		left: calc(50% - 21px);
		top: calc(50% - 21px);
		border: 4px solid #20312B;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-radius: 50%;
		animation: spin 1200ms ease-out 0s infinite;
	}
}

.loading #loader{
	display:block;
}


@keyframes spin {
	from{
		transform:rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@media only screen and (min-width:800px){
	.shop_container{
		justify-content: space-between;
		flex-direction: row;
			& .banner_title{
				text-align: left;
			}
			& .banner_wysiwyg{
				width:100%;
			}
		}

		.shop_banner_content{
			flex-basis: 60%;
			padding-right: 2rem;
		}
	
		.shop_category_recent {
			flex-direction: row;
			gap: 2rem;
			/*max-width: 680px;*/
			& img{
				padding-bottom: 2rem;
				max-width: 200px;
				height: auto;
			}
		}
		.bl_book_container{
			flex-basis: 30%;
		}
		#response {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.entry-content .woocommerce .product{
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			align-items: flex-start;
		}
}

@media only screen and (min-width:1200px){
	.shop_category {
		flex-direction: row;
		justify-content: space-between;
		padding-top: 2rem;
		padding-bottom: 2rem;
		gap: 1rem;
		&.odd {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	.shop_title {
		text-align: left;
	}

	.shop_category_recent {
		& img{
			padding-bottom: 2rem;
			max-width: 160px;
			height: 250px;
			width: auto;
			object-fit: cover;
		}
	}

	.bl_book_container{
		flex-basis: 22%;
	}
}

.bl_book_list {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
	flex-wrap: wrap;
}

.archive,.search{
	.bl_book_list{
		width:auto;
	}
}
/*Footer*/
.site-inner{
	padding:0px 20px;
}

.site-footer {
    background: $color_black;
    color: $color_white;
}

.site-footer a{
	color: $color_white;
	text-decoration: none;
	font-weight:500;
	font-family: 'Lato';
	font-size: $font_16px;
}

.site-footer p{
	font-family: 'Lato';
	font-size: $font_16px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.bl_footer{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.bl_footer.bl_footer_border{
	border-top:1px solid #372D2D;
	padding-top:15px;
	position:relative;
}
.bl_footer.bl_footer_border::before{
	content:'';
	position:absolute;
	top:-8px;
	width:100%;
	/*left:5%;
	right:5%;*/
	height:3px;
	border-top:3px solid #372D2D;
}

.bl_footer .bl_flourish, .bl_image_text_widget .bl_flourish{
background: url('/wp-content/uploads/dynamik-gen/theme/images/BL_Flourish.svg') no-repeat center top;
filter: invert(14%) sepia(9%) saturate(853%) hue-rotate(336deg) brightness(97%) contrast(86%);
background-size:contain;
width:150px;
height:18px;
}
	
/*Contact Form*/
form.wpcf7-form, #mc4wp-form-1{
	width:50%;
	min-width:350px;
	margin:0 auto;
}
.entry-content div.wpcf7-mail-sent-ok{
	border:none;
	border-bottom:3px solid #A02700;
	text-align: center;
}
/*Podcast Section*/
.bl_podcasts_section{
	margin-top:30px;
}
.bl_podcast_container{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.bl_podcast_container .bl_podcast_image{
	width:300px;
	flex-basis:300px;
	display:block;
}
.bl_podcast_content{
	flex-basis:500px;
	margin-left:30px;
}
.bl_follow_podcasts{
	margin-top:10px;
	display:flex;
	justify-content: flex-start;
}

.bl_follow_link a{
	display:flex;
	align-items: center;
}
.bl_follow_podcasts .bl_follow_link p{
	font-size:1rem;
	text-align: left;
	margin:0 5px;
}
.bl_follow_podcasts .bl_follow_link:hover p{
	color:#a02700;
}
.bl_follow_link img{
	width:30px;
	height:30px;
}
p.small, article.post .entry-content p.small{
	font-size:1.1rem;
	text-align:right;
	margin:5px 5px 5px auto;
	line-height:1.4rem;
}
/*Audio PLayer*/
.bl_audio_player audio{
	display:none;
}
.bl_audio_player{
    margin-bottom: 10px;
    height: 100%;
    max-width: 500px;
}
#audioplayer{
	height:30px;
}
#pButton{
	
	height:30px;
	width: 30px;
	border: none;
	background-size: 120px 30px;
	background-position: -30px 0;
	background-image: url('/wp-content/uploads/dynamik-gen/theme/images/playbuttons-01.svg');
	background-repeat: no-repeat;
	transition:none;
	background-color:transparent;
	padding:0;
}

#pButton.play{background-position: -30px 0;
	animation-name: quickblur;
	animation-duration: 500ms;
	animation-iteration-count: 1;
}
#pButton.play:hover{background-position:-88px 0;
	animation-name: quickblur2;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	
}
#pButton.pause{background-position: 0 0;
	animation-name: quickblur;
	animation-duration: 500ms;
	animation-iteration-count: 1;
}
#pButton.pause:hover{background-position: -58px 0;
	animation-name: quickblur2;
	animation-duration: 500ms;
	animation-iteration-count: 1;
}

@keyframes quickblur{
	from{
		opacity: 0;
		
	}
	to{
		opacity:1;
	
	}
}
@keyframes quickblur2{
	from{
		opacity: 0;
	
	}
	to{
		opacity:1;
	
	}
}
#timeline{
	margin-top:4px;
	float:right;
	max-width: 450px;
	width:calc(100% - 35px);
	height: 22px;
	background: #faf7e8;
	border:1px solid #372D2D;
	border-radius: 15px;
}

#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: #372D2D;
	transition:background-color 100ms linear;
}
#timeline:hover{
	border-color:#A02700;
}
#playhead:hover, #playhead:active{
	border:1px solid #A02700;
	background:#faf7e8;
	width:18px;
	height:18px;
}



@media only screen and (max-width: 768px)  {

	.bl_product_category{
		width:100%;
		
	}
	.bl_product_category a{
		min-height:40px;
		padding:5px;
	}
	.bl_footer{
		flex-direction:column;
	}
	.bl_footer .bl_info{
		margin-bottom:10px;
	}
	.entry-content .woocommerce .product{
		flex-direction: column;
		align-items: center;
	}
	.tribe-events-calendar .tribe-events-present{
		background-color: #A02700;
	}
.site-container	.hamburger{
		display:block;
		margin:0 auto;
		position:fixed;
		z-index:1000;
		bottom:0;
		background-color:#fff;
		width:100%;
	}
	.nav-primary{
		position:fixed;
		z-index:999;
		background-color:#fff;
		top:0;
		width:100%;
		transform:translateY(-150%);
		padding:30px 0 30px 0;
		transition:transform 800ms linear;
	}
	.nav-primary.open{
		transform:translateY(0%);
		transition:transform 800ms linear;
	}
	.home .menu-primary .menu-item input, 
	.home .menu-primary .menu-item input::placeholder{
		color:inherit;
	}
	.nav-primary .wrap #menu-main-menu{
		display:flex;
		flex-direction:column;
		
	}
	.home .menu-primary li a, .home .menu-primary li a:visited{
		color:#372D2D;
	}
	.home .nav-primary{
		border-bottom:3px solid #372D2D;
	}
	.home .nav-primary::after{
		border-bottom:1px solid #372D2D;
	}
	.bl_footer{
		margin-bottom:40px;
	}
	.site-inner, .bl_bg_image, .bl_footer{
		transition:filter 800ms ease-in;
	}
	body.blur .site-inner, body.blur .bl_bg_image, body.blur .bl_footer{
		filter:blur(12px);
	}
	.bl_hero_text{
		margin:10px 3%;
	}
	.site-container .tribe-events-calendar td.tribe-events-present.mobile-active{
		background-color:#A02700;
	}
.content .bl_events_link h3, #tribe-events-footer .bl_events_link h3{
	width:80%;
}	
.content .bl_events_link h3::after, #tribe-events-footer .bl_events_link h3::after{
	width:100%;
}
.bl_image_text_widget h1.bl_widget_title{
	line-height:1;
}
.bl_image_text_widget .bl_flourish{
	margin-top:0;
}
}


/*Footer*/
.bl_footer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin-bottom: 0;
    padding-top: 2rem;
}

.rtc_logo {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: right;
}

.footer_contact_copyright {
    grid-column: 2/3;
    grid-row: 1/2;
}

.social_media_block {
    grid-column: 1/3;
    grid-row: 2/3;
}

.blackman_rossouw_block {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.footer_copyright p {
    text-align: left;
}


@media only screen and (min-width: 700px)  {

	.bl_footer {
		grid-template-columns: auto auto 1fr auto;
		grid-template-rows: auto;
		padding-bottom: 2rem;
		align-items: center;
	}

	.social_media_block {
		grid-column: 3/4;
		grid-row: 1/2;
		justify-content: center;
	}

	.blackman_rossouw_block {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 0;
		grid-column: 4/5;
		grid-row: 1/2;
	}

	.flex.flex-20.so-me {
		align-items: flex-end;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 1000px)  {
	.bl_footer{
		grid-column-gap: 3rem;
	}
}

@media only screen and (min-width: 1200px) {
	.bl_footer.margins {
		grid-column-gap: 5rem;
	}
	
	.flex.flex-20.so-me {
		justify-content: center;
		gap: 5rem;
	}
}